<table class="table table-sm">
    <tr *ngFor="let tarjeta of tarjetaService.list">
        <td>{{ tarjeta.titular }}</td>
        <td>{{ tarjeta.numeroTarjeta }}</td>
        <td>
            <i class="far fa-edit fa-lg text-info" 
                (click)="editar(tarjeta)" style="cursor: pointer;"></i>
        </td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" 
                (click)="eliminarTarjeta(tarjeta.id!)" style="cursor: pointer;"></i>
        </td>
    </tr>
</table>
